<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>Product : View</title>
</head>
<body>
<h1 layout:fragment="header" th:text="${product.name} + ' - $' + ${product.price}">Coke $0.00</h1>
<div layout:fragment="content" class="container">
    <div class="alert alert-success"
         th:if="${globalMessage}"
         th:text="${globalMessage}">
        Some Success message
    </div>
    <div class="row">
        <div class="span6" style="text-align: center;">
            <img th:src="@{/product/image/} + ${product.id}" src="/images/Diet_coke_can.png"/>
        </div>
        <div class="span6">
            <h3>Description</h3>
            <div th:text="${product.description}">
            This is a soda
        </div>
    		<p>
    		<form action="/product/checkout/12345" method="post" >
    			
    			<input type="hidden" id="id" name="id" th:value="${product.id}"/>
    			 <div class="span10" >
            				Please enter your credit card:
        		</div>
    			<input type="text" id="buyerCreditCard" name="buyerCreditCard" value="" maxlength="16"/>
    			<input type="hidden" id="sellerCreditCard" name="sellerCreditCard" th:value="${product.creditCard}"/>
				<input type="hidden" id="price" name="price" th:value="${product.price}"/>
				<input type="submit" name="submit" value="Submit"/>
    		</form>
    		</p>
    	</div>    	
    </div>
</div>

</body>
</html>
