<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Layout</title>
	<link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"/> -->
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand"
               href="http://instastore.herokuapp.com">
               <img class="logo-image" th:src="@{/images/logo.png}" src="../static/logo.png"/>
            </a>
            <ul class="nav">
                 <li>
                    <a th:href="@{/aboutus}" href="messages.html">About us</a>
                </li>
                <li>
                	<a th:href="@{/contactus}" href="contactus.html">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
    <h1 layout:fragment="header">Layout</h1>
    <div layout:fragment="content">
        Fake content
    </div>
</div>
</body>
</html>